.allbacklogs {
  padding: 10px 15px 0;
  .empty {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      color: rgb(161, 161, 161);
    }
    .icon-19 {
      font-size: 70px;
    }
    div:last-child {
      font-size: 18px;
    }
  }
}
