.tabicon {
  font-size: 30px;
}
.addbutton {
  position: absolute;
  border: none;
  right: 20px;
  bottom: 70px;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  padding-bottom: 5px;
  color: white;
  background-color: rgb(0, 159, 252);
}
